
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

 *{
    box-sizing: border-box;
    /* max-width: 99%; */
    /* max-height: 10px; */
}
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
    border: 1px solid red;
    background: #FFF;
   
    display: flex;
}

.logo-container{
    border: 1px saddlebrown rebeccapurple;
    display: flex;
    gap: 2px;
    width: 50%;
    height: 40px;
    align-items: center;
    /* justify-content: space-between; */
    /* align-content: center; */
}
.logo-container p{
    font-size: 40px;
    /* text-align: center; */
    font-weight: 700;
    border: 1px solid royalblue;
    width: 6%;
    
}
.nav-iteams{
    border: 1px solid rgb(255, 0, 149);
    display: flex;
    /* justify-content: space-between; */
    width:40%;
    /* height: 40%; */
    /* gap: 5px; */
    /* justify-items: end; */
    /* justify-content: right; */
    /* min-height: 50%; */
    align-items: center;
    justify-content: space-between;
    /* align-items: self-end; */
}
.nav-iteams a{
    text-decoration: none;
    /* justify-content: center; */

 
}
.game{
    color:#fc33b9;
    text-align: center;
}
.logo-container img{
    border: 2px solid rgb(0, 252, 55);
    width: 90px;
    object-fit: cover;
    margin-right: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
    
}     
.play-like-part{
display: flex;
justify-content: space-between;
/* margin-top: 200px; */
/* margin-bottom: 10%; */

}
.side-1{
    text-align: justify;
    padding: 10% ;
    /* margin-bottom: 30px; */

}
.side-1 h3{
    color: #0e0d11;
    font-size: 40px;
    padding: 2px;
    text-align: justify;

}
.goat{
    color: #cc0d7f;
    font-size: 50px;
    margin-bottom: 3px;
}
.btn{
    background-color: #cc0d7f;
    border-radius: 30px;
    color: white;
    /* height: 4p; */
    /* width: 40%; */
    padding: 21px 40px;
    gap: 10px;
    display: inline-flex;
}
.btn-2{
    border-radius: 30px;
background: #4EC5F7;
color: white;
padding: 21px 40px;

}
.header{
    color: #0B0223;
    text-align: center;

}
.funny{
    /* background: linear-gradient( #F948B2 , #8758F1 ); */
    /* background-clip: text ; */
    /* border: none; */
    color: #F948B2;

}
.paragraph{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
line-height: 30px ; 
}
.card1{
    display: flex;
justify-content:center;
border-radius: 16px;
 /* max-height: 50%; */
/* max-width: 100%; */
margin: 1px auto 10;

}

.banner-img{
    width: 80%;
    border: 1px solid rgb(0, 26, 255);
    /* margin: auto; */
}

.rectangle{
    width: 80%;
    height: 75%;
    align-items: center;
}
    
.no-download{
    text-align: justify;
    display: flex;
    align-items: center;
}
.images{
    /* display: flex; */
    /* height: 600%; */
    width: 70%;
    display: flex;
    margin: 10px auto;
    border-radius: 10px;
}
.back{
    width: 40%;
    margin-top: auto;
    border-radius: 30px;
    /* border: 10px; */
    display: grid;
}
.advertise{
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
    /* height: 18vh; */
    /* width: 180vh; */
    margin-top: 50px;
    /* padding: 10px 20px; */
}
.footer{
    border: 1px solid rgb(59, 51, 2);
display: flex;

display: grid;
justify-items: center;
color:white;

}
#last-part{ padding: 200px 200px ;

    background: #0B0223;
    justify-content: center;
    color: white;
    text-align: center;
    justify-items: center;

}
.story{         
    display: flex;
    /* text-decoration: none; */
    text-align: center;
    gap: 20px;
    justify-content: center;
}
.terms{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.fa-twitter{
    color: rgb(231, 231, 231);
    width: 40px;
height: 40px;
flex-shrink: 0;
}
.fa-facebook{
    color: #fcfcfcd8 rgba(24, 119, 242, 1);
}
.logo{
    /* width: 40px; */
/* height: 40px; */
/* flex-shrink: 0; */
    margin: auto;
    justify-content: center;
    /* display: flex; */
    /* display: grid; */
}
